.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  border: 2px solid #ff5722;
}

body {
  background-color: #8f00e1;
}

h1 {
  margin: 40px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4.5rem;
  color: #ffca3a;
}

p {
  font-size: 3.5rem;
  color: #fee440;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 85%;
}

footer {
  margin-top: 7%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}
